body{
  background: #fcfaf9;
  color: #436269;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

footer{
  background-color: #436269;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  color: #fff;
}

#home{
color: #0aac9a;
}

#cart{
  font-size: 120%;
  color: #0aac9a;
}

#search{
  background-color: #0aac9a;
  border:#0aac9a;
  color: #fff;
}

.button{
  background-color: #0aac9a;
  border:#0aac9a;
  color: #fff;
}

.badge{
  background-color: #436269;
}

#logo{
  font-size: 200%;
}

.cont{
  display: inline-block;
}

.icons{
  color: #fff;
}

.icons:hover{
  color: #0aac9a;
}
